In [1]:
import numpy as np
import pandas as pd
from datetime import datetime as dt
import itertools

%matplotlib inline

In [6]:
raw_data_0 = pd.read_csv('data/E0.csv')
raw_data_1 = pd.read_csv('data/E0(1).csv')
raw_data_2 = pd.read_csv('data/E0(2).csv')
raw_data_3 = pd.read_csv('data/E0(3).csv')
raw_data_4 = pd.read_csv('data/E0(4).csv')
raw_data_5 = pd.read_csv('data/E0(5).csv')
raw_data_6 = pd.read_csv('data/E0(6).csv')
raw_data_7 = pd.read_csv('data/E0(7).csv')
raw_data_8 = pd.read_csv('data/E0(8).csv')
raw_data_9 = pd.read_csv('data/E0(9).csv')
raw_data_10 = pd.read_csv('data/E0(10).csv')
raw_data_11 = pd.read_csv('data/E0(11).csv')
raw_data_12 = pd.read_csv('data/E0(12).csv')


def parse_date(date):
    if date == '':
        return None
    else:
        return dt.strptime(date, '%d/%m/%y').date()

    

    
raw_data_0.Date = raw_data_0.Date.apply(parse_date)    
raw_data_1.Date = raw_data_1.Date.apply(parse_date)    
raw_data_2.Date = raw_data_2.Date.apply(parse_date)    
raw_data_3.Date = raw_data_3.Date.apply(parse_date)           
raw_data_4.Date = raw_data_4.Date.apply(parse_date)    
raw_data_5.Date = raw_data_5.Date.apply(parse_date)    
raw_data_6.Date = raw_data_6.Date.apply(parse_date)    
raw_data_7.Date = raw_data_7.Date.apply(parse_date)    
raw_data_8.Date = raw_data_8.Date.apply(parse_date)    
raw_data_9.Date = raw_data_9.Date.apply(parse_date)    
raw_data_10.Date = raw_data_10.Date.apply(parse_date)
raw_data_11.Date = raw_data_11.Date.apply(parse_date)
raw_data_12.Date = raw_data_12.Date.apply(parse_date)

columns_req = ['Date','HomeTeam','AwayTeam','FTHG','FTAG','FTR']
raw_data_0[columns_req]

          Date        HomeTeam        AwayTeam  FTHG  FTAG FTR
0   2017-08-11         Arsenal       Leicester     4     3   H
1   2017-08-12        Brighton        Man City     0     2   A
2   2017-08-12         Chelsea         Burnley     2     3   A
3   2017-08-12  Crystal Palace    Huddersfield     0     3   A
4   2017-08-12         Everton           Stoke     1     0   H
5   2017-08-12     Southampton         Swansea     0     0   D
6   2017-08-12         Watford       Liverpool     3     3   D
7   2017-08-12       West Brom     Bournemouth     1     0   H
8   2017-08-13      Man United        West Ham     4     0   H
9   2017-08-13       Newcastle       Tottenham     0     2   A
10  2017-08-19     Bournemouth         Watford     0     2   A
11  2017-08-19         Burnley       West Brom     0     1   A
12  2017-08-19       Leicester        Brighton     2     0   H
13  2017-08-19       Liverpool  Crystal Palace     1     0   H
14  2017-08-19     Southampton        West Ham     3     2   H
15  2017-08-19           Stoke         Arsenal     1     0   H
16  2017-08-19         Swansea      Man United     0     4   A
17  2017-08-20    Huddersfield       Newcastle     1     0   H
18  2017-08-20       Tottenham         Chelsea     1     2   A
19  2017-08-21        Man City         Everton     1     1   D